---
layout: layouts/base.html
---

<h1 class="title">{{ title }}</h1>

<div class="question">
Are you thinking about a career in journalism?
Did you know we have a
MA Broadcast and Digital Journalism
Degree at UEA?
</div>

<div class="description">
You’ll be trained by experienced professional journalists who will help you to kick start your career in the media.
</div>

<div class="cta">
Join us at Broadcast House in central Norwich to find out more and get some hands-on practice in our TV and radio studios on Weds 16th March (or Weds 4th May) from 2-4pm
Sign up here: QR code for poster / link for online.
</div>


<img src="./_includes/images/clapper-board.svg" alt="clapper board picture" />
<img src="./_includes/images/camera.svg" alt="camera picture" />
<img src="./_includes/images/microphone.svg" alt="microphone picture" />
<img src="./_includes/images/ziggurats-group.svg" alt="ziggurats picture" />
<img src="./_includes/images/uea-logo.svg" alt="uea logo" />

<article>
  {{ content | safe }}
</article>